@import "~bootstrap/scss/bootstrap";
@import-normalize;

html,
body,
#app,
#app > div {
  height: 100%;
}

html,
body,
#root,
#root > div {
  height: 100%;
  font-size: 15px;
}

.app {
  height: 100%;
  // background-color: rgba(39, 42, 52, 0.5);
  background-image: linear-gradient(#272a34, #272a34, #081025bb);
  color: white;
}

// #272a34

.nav {
  display: flex;
  justify-content: space-between;
}

.brand {
  font-size: 2em;
  padding: 0em 0.5em;
}

.search {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 7em;
}

.search img {
  width: 2em;
  height: 2em;
}

input[type="text"] {
  border-radius: 60px;
  height: 2.5em;
  width: 20em;
  padding: 0em 1em;
}

.search button {
  height: 2em;
}

.city {
  text-align: center;
  margin-top: 3em;
}

.shelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
}

.day,
.status,
.details {
  display: flex;
  flex-direction: column;
}

.day {
  padding: 1em 0em;
  align-items: center;
  text-align: center;
  border: 3px solid white;
  border-radius: 8px;
  height: 15em;
  width: 190px;
  margin: 0em 0.8em;
}

.day h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0px;
}

.day img {
  width: 4.5em;
  // height: 2em;
}

.details {
  text-align: center;
  word-wrap: break-word;
  white-space: pre;
  display: flex;
  flex-direction: row;
}

.temp {
  font-size: 3em;
  margin-right: 5px;
}

.minmax {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .shelf {
    flex-direction: column;
  }

  .day {
    width: initial;
    height: initial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1em 5em;
    padding: 1.5em;
    margin-bottom: 1em;
  }

  .day img {
    margin: 0em 2.5em;
  }

  .status {
    grid-column: 1 / span 2;
    text-align: left;
    display: grid;
    grid-template-columns: 11.5em 1fr;
  }

  .status h1 {
    margin-right: 2em;
    text-align: center;
  }

  input[type="text"] {
    height: 3em;
    border-color: #80808000;
  }
}
